<h1>House of Commons</h1>
<h2>Main Chamber</h2>

<p *ngIf="!period"><em>Loading ...</em></p>

<div class="" *ngIf="period">
  <div class="row border" *ngFor="let item of period.businessItems">
    <div class="col-xs-12 col-sm-2">{{ item.startDate | date:'dd/MM/yyyy' }}</div>
    <div class="col-xs-12 col-sm-1">{{ item.startDate | date:'EE' }}</div>
    <div class="col-xs-6 col-sm-1">{{ item.startTime == '' ? '-' : item.startTime }}</div>
    <div class="col-xs-6 col-sm-1">{{ item.endTime == '' ? '-' : item.endTime }}</div>
    <div class="col-xs-12 col-sm-3">{{ item.category }}</div>
    <div class="col-xs-12 col-sm-4">{{ item.description }}</div>
  </div>
</div>


