################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CalendarClient/bin/Debug/netstandard2.0
/CalendarClient/obj
/CalendarClientTests/bin/Debug/netcoreapp2.2
/CalendarClientTests/obj
/MemberClient/bin/Debug/netstandard2.0
/MemberClient/obj
/MemberClientTests/bin/Debug/netcoreapp2.2
/MemberClientTests/obj
/BusinessService/bin/Debug/netstandard2.0
/BusinessService/obj
/BusinessServiceTests/bin/Debug/netcoreapp2.2
/BusinessServiceTests/obj
/BusinessApi/obj
/BusinessApi/bin/Debug/netcoreapp2.2
/BusinessApiTests/bin/Debug/netcoreapp2.2
/BusinessApiTests/obj
