################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CalendarClient/bin/Debug/netstandard2.0
/CalendarClient/obj
/CalendarClientTests/bin/Debug/netcoreapp2.2
/CalendarClientTests/obj
/MemberClient/bin/Debug/netstandard2.0
/MemberClient/obj
/MemberClientTests/bin/Debug/netcoreapp2.2
/MemberClientTests/obj
